$bg_color: rgba(30, 30, 46, 0.8);
$fg_color: #cdd6f4;
$accent_color: #89b4fa;
$shadow_color: rgba(0, 0, 0, 0.6);

* {
  /* all: unset; */
  background-color: transparent;
  font-family: "JetBrains Mono Nerd Font", "Inter", sans-serif;
}

.floating {
  /* background-color: $bg_color; */
  /* color: $fg_color; */
  /* border-radius: 20px; */
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  padding: 15px 8px;
  /* box-shadow: 0px 4px 15px $shadow_color; */
  transition: all 300ms ease;
}

.time {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -5px;
  color: $accent_color;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.week {
  color: yellow;
}

.divider {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 2px;
  margin: 10px 5px;
}

.chart-box {
  margin: 2px 0px;
  min-height: 30px;
  background-color: rgba(50, 50, 50, 0.4);
}

label {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}

graph {
  color: $accent_color;
  border-radius: 5px;
  min-height: 50px;
}

scale trough highlight {
  background-color: #5294e2;
  border-radius: 5px;
}

scale trough {
  background-color: #444;
  border-radius: 5px;
}

scale {
  min-height: 30px;
  min-width: 30px;
}

.cpu-graph {
  color: goldenrod;
}

.mem-graph {
  color: lightblue;
}

.net-graph {
  color: lightgreen;
}

.bat-graph {
  color: purple;
}