[submodule "nvim"]
	path = nvim
	url = git@github.com:murphil/nvim.git
[submodule ".zshrc.d"]
	path = .zshrc.d
	url = git@github.com:infra/.zshrc.d.git
[submodule "zellij"]
	path = zellij
	url = url = git@github.com:infra/zellij.git
