__pycache__
_emacs
oh-my-zsh
awesomewm/lain
awesomewm/revelation
.sync.ffs_db
zsh-autosuggestions
zsh-syntax-highlighting

vscode/data/
node_modules
package-lock.json

code-portable-data/
_vim/

fishd.*
fish_variables

.fzf/bin/*/fzf

_elvish/db

awesome/lain/
awesome/revelation/
.history/

