spawn-at-startup "mako"
spawn-at-startup "eww" "open" "omni-tray"
// wechat
spawn-at-startup "xwayland-satellite"

binds {
    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+8 { spawn "nu" "~/.config/niri/scripts/focus.nu" "browser"; }
    Mod+9 { spawn "nu" "~/.config/niri/scripts/focus.nu" "workspace"; }
    Mod+0 { spawn "nu" "~/.config/niri/scripts/focus.nu" "chat"; }
    Mod+S { spawn "sh" "-c" "grim -g \"$(slurp)\" - | satty --filename -"; }

    // Mod+Space { spawn "walker"; }
    Mod+Space { spawn "anyrun"; }
    Super+Alt+L { spawn "swaylock"; }
}

workspace "file"
window-rule {
    match app-id=r#"FreeFileSync"#
    match app-id=r#"dolphin"#
    default-column-width {}
    open-on-workspace "file"
}

workspace "doc"
window-rule {
    match app-id=r#"Foliate"#
    match app-id=r#"org.kde.okular"#
    default-column-width {}
    open-on-workspace "doc"
}

window-rule {
    match app-id=r#"ghostty"#
    open-floating true
}

workspace "work"
window-rule {
    match app-id=r#"vivaldi"#
    match app-id=r#"ghostty"# title=r#"^(Ghostty|dev)"#
    open-on-workspace "work"
    open-floating false
    open-maximized true
}

workspace "chat"
window-rule {
    match app-id=r#"wechat"#
    match title=r#"Weixin"#
    match title=r#"WeChat"#
    open-on-workspace "chat"
    default-column-width {}
}

workspace "adhoc"
window-rule {
    open-on-workspace "adhoc"
    default-column-width {}
}
