// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

include "apps.kdl"
include "libs/device.kdl"
include "libs/layout.kdl"
include "libs/animations.kdl"
include "libs/rules.kdl"
include "libs/binds.kdl"

environment {
    // DISPLAY ":0"
    // XAUTHORITY "/home/master/.Xauthority"
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null
