[language-server.rust-analyzer.config]
cargo.allFeatures = false
cachePriming.enable = false
lru.capacity = 64
procMacro.enable = true # 如果关了它，很多库的代码提示会失效，慎重
diagnostics.enable = true
check.command = 'clippy' # clippy | check
inlayHints.enable = true

[language-server.moonbit-lsp]
command = "moonbit-lsp"

[[language]]
name = "moonbit"
scope = "source.moonbit"
injection-regex = "moonbit"
file-types = ["mbt"]
comment-tokens = "//"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "moonbit-lsp" ]
roots = ["moon.mod.json"]
formatter = { command = "moonfmt" }


[[grammar]]
name = "moonbit"
source = { git = "https://github.com/moonbitlang/tree-sitter-moonbit", rev = "main" }
