[Unit]
Description=Shadowsocks
After=network.target

[Service]
User=root
Group=root
Type=forking
WorkingDirectory=/root/ss
ExecStart=/root/ss/shadowsocks-server -u -p 9899 -m salsa20 -k qwert123
Restart=always

[Install]
WantedBy=multi-user.target
