[Unit]
Description=Shadowsocks
After=network.target

[Service]
User=root
Group=root
Type=forking
WorkingDirectory=/opt/shadowsocks
ExecStart=/opt/shadowsocks/shadowsocks-local -s 107.172.206.216 -p 9899 -l 1080 -m salsa20 -k qwert123
Restart=always

[Install]
WantedBy=multi-user.target
