[Unit]
Description=Neovim Server Daemon for %I
After=network.target
Wants=network.target

[Service]
Type=simple
SyslogIdentifier=neovim
User=agent
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=0s
LimitNOFILE=infinity

WorkingDirectory=/home/agent
ExecStart=/usr/local/bin/nvim --listen 0.0.0.0:%i --headless +'set title titlestring=🏰172.178.5.123:%i'
Environment="SHELL=nu"
Environment="TERM=screen-256color"

[Install]
WantedBy=multi-user.target
