[Unit]
Description=Neovim Server Daemon for %I
After=network.target
Wants=network.target

[Service]
Type=simple
SyslogIdentifier=neovim
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=0s
LimitNOFILE=infinity

User=agent
WorkingDirectory=/home/agent
Environment="HOSTNAME=dx"
Environment="NVIM_FONT=mar12"
Environment="NEOVIDE_SCALE_FACTOR=1"
ExecStart=/usr/local/bin/nvim --listen 0.0.0.0:%i --headless +'set title titlestring=\|${HOSTNAME}:%i\|'
Environment="SHELL=nu"
Environment="TERM=screen-256color"

[Install]
WantedBy=multi-user.target
